.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

html, body, #root, #root>div {
  height: 100%
}

.Chat {
  height: 100%;
}

.Messages {
  height: 80%;
  width: 100%;
  overflow: scroll;
}

.message {
  text-align: left;
}

.messageInputbox {
  width: 100%;
}

.sendButton {
  width: 100%;
}

.bottomCol {
  padding: 0px !important;
}

.bottomBar {
  width: 100%;
  margin: 0px !important;
  padding: 10px;
  border-top: solid;
  border-width: 1px;
  border-color: grey;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
